<launch>

    <param name="use_sim_time" value="true"/>

  <include file="$(find gazebo_ros)/launch/empty_world.launch">
    <!-- Because the world path is relative to GAZEBO_RESOURCE_PATH, we append to it here. -->
    <env name="GAZEBO_RESOURCE_PATH" value="$(env GAZEBO_RESOURCE_PATH):$(find simple_create)"/>
    <env name="GAZEBO_MODEL_PATH" value="$(env GAZEBO_MODEL_PATH):$(find simple_create)/models"/>
    <arg name="world_name" value="worlds/create.world"/>
    <arg name="paused" value="false"/>
    <arg name="use_sim_time" value="true"/>
    <arg name="gui" value="true"/>
    <arg name="headless" value="false"/>
    <arg name="debug" value="false"/>
  </include>

    <node pkg="rviz" type="rviz" name="rviz" args="-d $(find simple_create)/sonny.rviz" output="screen"/>

<!--    <node pkg="teleop_twist_keyboard" type="teleop_twist_keyboard.py" name="teleop_twist_keyboard" output="screen"/> -->

</launch>
