<launch>

    <node pkg="gmapping" type="slam_gmapping" name="gmapping" output="screen">
        <remap from="scan" to="sonny/laser_scan" />
        <param name="base_frame" value="sonny/base"/>
        <param name="odom_frame" value="sonny/odomFrame" />
        <param name="xmax" value="20" />
        <param name="ymax" value="20" />
    </node>


</launch>
