<?xml version="1.0"?>
<launch>
 <param name="use_sim_time" value="true"/>
 <node pkg="move_base" type="move_base" name="move_base" output="screen">
    <param name="base_global_planner" value="navfn/NavfnROS"/>
    <param name="base_local_planner" value="dwa_local_planner/DWAPlannerROS"/>
    <rosparam file="$(find simple_create)/config/planner.yaml" command="load"/>

    <rosparam file="$(find simple_create)/config/costmap_common_params.yaml" command="load" ns="global_costmap"/>
    <rosparam file="$(find simple_create)/config/costmap_common_params.yaml" command="load" ns="local_costmap"/>

    <rosparam file="$(find simple_create)/config/local_costmap_params.yaml" command="load" ns="local_costmap"/>
    <param name="local_costmap/width" value="5.0"/>
    <param name="local_costmap/height" value="5.0"/>

    <rosparam file="$(find simple_create)/config/global_costmap_params.yaml" command="load" ns="global_costmap"/>
  </node>
</launch>
