<?xml version="1.0"?>
<launch>
   <param name="use_sim_time" value="true"/>

  <arg name="map_file" default="$(find husky_navigation)/maps/playpen_map.yaml"/>
  <node name="map_server" pkg="map_server" type="map_server" args="$(arg map_file)"/>
  <include file="$(find simple_create)/launch/amcl_diff.launch"/>
</launch>
